In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

In [2]:
# Grab and process the raw data.
data_path = ("known_offenses_nyc2013.csv")

In [3]:
data_raw = pd.read_csv(data_path)

In [4]:
data_raw

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Unnamed: 13
0,Adams Village,"1,861",0,0.000,nan,0,0,0,12,2,10,0,0.000,nan
1,Addison Town and Village,"2,577",3,0.000,nan,0,0,3,24,3,20,1,0.000,nan
2,Akron Village,"2,846",3,0.000,nan,0,0,3,16,1,15,0,0.000,nan
3,Albany,"97,956",791,8.000,nan,30,227,526,"4,090",705,"3,243",142,nan,nan
4,Albion Village,"6,388",23,0.000,nan,3,4,16,223,53,165,5,nan,nan
5,Alfred Village,"4,089",5,0.000,nan,0,3,2,46,10,36,0,nan,nan
6,Allegany Village,"1,781",3,0.000,nan,0,0,3,10,0,10,0,0.000,nan
7,Amherst Town,"118,296",107,1.000,nan,7,31,68,"2,118",204,"1,882",32,3.000,nan
8,Amityville Village,"9,519",9,0.000,nan,2,4,3,210,16,188,6,1.000,nan
9,Amsterdam,"18,182",30,0.000,nan,0,12,18,405,99,291,15,0.000,nan
10,Arcade Village,"2,053",0,0.000,nan,0,0,0,39,3,35,1,0.000,nan
11,Ardsley Village,"4,523",5,0.000,nan,0,3,2,33,4,28,1,0.000,nan
12,Asharoken Village,658,0,0.000,nan,0,0,0,2,0,2,0,0.000,nan
13,Attica Village,"2,522",2,0.000,nan,0,0,2,5,0,4,1,0.000,nan
14,Auburn,"27,270",96,1.000,nan,20,22,53,859,132,721,6,nan,nan
15,Avon Village,"3,333",1,0.000,nan,0,1,0,25,3,20,2,nan,nan
16,Baldwinsville Village,"7,473",5,0.000,nan,0,1,4,88,10,77,1,0.000,nan
17,Ballston Spa Village,"5,418",8,0.000,nan,0,3,5,94,16,78,0,1.000,nan
18,Batavia,"15,374",57,0.000,nan,7,13,37,559,103,454,2,nan,nan
19,Bath Village,"5,733",15,0.000,nan,1,3,11,191,32,157,2,2.000,nan
20,Bedford Town,"17,627",5,0.000,nan,0,1,4,156,26,127,3,nan,nan
21,Bethlehem Town,"34,243",13,0.000,nan,0,3,10,442,50,388,4,nan,nan
22,Binghamton,"46,304",284,3.000,nan,19,101,161,"2,349",525,"1,767",57,nan,nan
23,Black River,"1,410",0,0.000,nan,0,0,0,14,2,12,0,0.000,nan
24,Blooming Grove Town,"12,001",8,0.000,nan,1,0,7,99,20,72,7,nan,nan
25,Bolivar Village,"1,022",1,0.000,nan,0,0,1,4,2,2,0,0.000,nan
26,Bolton Town,"2,325",2,0.000,nan,0,0,2,24,4,20,0,0.000,nan
27,Boonville Village,"2,054",1,0.000,nan,0,0,1,20,6,14,0,0.000,nan
28,Brant Town,"2,065",4,0.000,nan,0,1,3,31,9,20,2,0.000,nan
29,Brewster,"2,358",0,0.000,nan,0,0,0,13,3,10,0,0.000,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Utica,"61,686",361,7.000,nan,27,102,225,"2,528",449,"1,997",82,nan,nan
322,Vestal Town,"27,980",16,0.000,nan,2,6,8,571,39,523,9,nan,nan
323,Walden Village,"6,887",18,1.000,nan,2,1,14,142,13,124,5,nan,nan
324,Wallkill Town,"27,940",40,0.000,nan,3,16,21,767,91,650,26,1.000,nan
325,Walton Village,"3,012",6,0.000,nan,1,0,5,68,18,50,0,nan,nan
326,Warsaw Village,"3,453",6,0.000,nan,1,0,5,78,5,73,0,0.000,nan
327,Washingtonville Village,"5,828",2,0.000,nan,0,1,1,58,5,51,2,0.000,nan
328,Waterford Town and Village,"8,392",4,0.000,nan,0,0,4,59,6,52,1,0.000,nan
329,Waterloo Village,"5,175",11,0.000,nan,0,3,8,194,23,169,2,nan,nan
330,Watertown,"28,179",109,0.000,nan,12,16,81,"1,165",169,953,43,nan,nan
331,Watervliet,"10,245",26,1.000,nan,3,11,11,242,58,163,21,nan,nan
332,Watkins Glen Village,"1,862",6,0.000,nan,0,0,6,92,10,80,2,nan,nan
333,Waverly Village,"4,337",5,0.000,nan,0,1,4,54,9,41,4,nan,nan
334,Webster Town and Village,"43,777",21,0.000,nan,2,3,16,469,101,361,7,nan,nan
335,Weedsport Village,"1,797",0,0.000,nan,0,0,0,25,5,20,0,0.000,nan
336,Wellsville Village,"4,574",11,0.000,nan,1,0,10,164,32,129,3,1.000,nan
337,Westhampton Beach Village,"1,732",2,0.000,nan,0,0,2,44,4,37,3,0.000,nan
338,West Seneca Town,"44,821",35,1.000,nan,1,9,24,896,166,710,20,0.000,nan
339,Whitehall Village,"2,604",6,0.000,nan,0,0,6,62,12,49,1,nan,nan
340,White Plains,"57,559",78,1.000,nan,3,28,46,"1,232",77,"1,134",21,nan,nan
341,Whitesboro Village,"3,733",4,0.000,nan,0,0,4,36,14,21,1,0.000,nan
342,Whitestown Town,"9,141",0,0.000,nan,0,0,0,77,13,61,3,0.000,nan
343,Woodbury Town,"10,685",3,0.000,nan,0,2,1,541,9,529,3,nan,nan
344,Woodridge Village,829,7,0.000,nan,0,0,7,17,8,9,0,0.000,nan
345,Woodstock Town,"5,931",2,0.000,nan,0,0,2,58,13,45,0,nan,nan
346,Yonkers,"199,134","1,036",6.000,nan,25,390,615,"2,368",470,"1,662",236,10.000,nan
347,Yorktown Town,"36,643",15,0.000,nan,0,2,13,334,45,287,2,nan,nan
348,1 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan
349,2 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan
350,3 The FBI does not publish arson data unless i...,NaN,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan

In [5]:
data_raw.columns

Index(['City', 'Population', 'Violent\rcrime',
       'Murder and\rnonnegligent\rmanslaughter',
       'Rape\r(revised\rdefinition)1', 'Rape\r(legacy\rdefinition)2',
       'Robbery', 'Aggravated\rassault', 'Property\rcrime', 'Burglary',
       'Larceny-\rtheft', 'Motor\rvehicle\rtheft', 'Arson3', 'Unnamed: 13'],
      dtype='object')

In [6]:
data_raw.columns

Index(['City', 'Population', 'Violent\rcrime',
       'Murder and\rnonnegligent\rmanslaughter',
       'Rape\r(revised\rdefinition)1', 'Rape\r(legacy\rdefinition)2',
       'Robbery', 'Aggravated\rassault', 'Property\rcrime', 'Burglary',
       'Larceny-\rtheft', 'Motor\rvehicle\rtheft', 'Arson3', 'Unnamed: 13'],
      dtype='object')

In [7]:
data_raw.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Unnamed: 13
0,Adams Village,"1,861",0,0.000,nan,0,0,0,12,2,10,0,0.000,nan
1,Addison Town and Village,"2,577",3,0.000,nan,0,0,3,24,3,20,1,0.000,nan
2,Akron Village,"2,846",3,0.000,nan,0,0,3,16,1,15,0,0.000,nan
3,Albany,"97,956",791,8.000,nan,30,227,526,"4,090",705,"3,243",142,nan,nan
4,Albion Village,"6,388",23,0.000,nan,3,4,16,223,53,165,5,nan,nan

In [8]:
# Create a new df with variables city, population, murder, robbery
# data.iloc[:, 0:2] # first two columns of data frame with all rows
mv_data = data_raw.iloc[:,0:7]

In [9]:
mv_data.columns

Index(['City', 'Population', 'Violent\rcrime',
       'Murder and\rnonnegligent\rmanslaughter',
       'Rape\r(revised\rdefinition)1', 'Rape\r(legacy\rdefinition)2',
       'Robbery'],
      dtype='object')

In [10]:
mv_data

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery
0,Adams Village,"1,861",0,0.000,nan,0,0
1,Addison Town and Village,"2,577",3,0.000,nan,0,0
2,Akron Village,"2,846",3,0.000,nan,0,0
3,Albany,"97,956",791,8.000,nan,30,227
4,Albion Village,"6,388",23,0.000,nan,3,4
5,Alfred Village,"4,089",5,0.000,nan,0,3
6,Allegany Village,"1,781",3,0.000,nan,0,0
7,Amherst Town,"118,296",107,1.000,nan,7,31
8,Amityville Village,"9,519",9,0.000,nan,2,4
9,Amsterdam,"18,182",30,0.000,nan,0,12
10,Arcade Village,"2,053",0,0.000,nan,0,0
11,Ardsley Village,"4,523",5,0.000,nan,0,3
12,Asharoken Village,658,0,0.000,nan,0,0
13,Attica Village,"2,522",2,0.000,nan,0,0
14,Auburn,"27,270",96,1.000,nan,20,22
15,Avon Village,"3,333",1,0.000,nan,0,1
16,Baldwinsville Village,"7,473",5,0.000,nan,0,1
17,Ballston Spa Village,"5,418",8,0.000,nan,0,3
18,Batavia,"15,374",57,0.000,nan,7,13
19,Bath Village,"5,733",15,0.000,nan,1,3
20,Bedford Town,"17,627",5,0.000,nan,0,1
21,Bethlehem Town,"34,243",13,0.000,nan,0,3
22,Binghamton,"46,304",284,3.000,nan,19,101
23,Black River,"1,410",0,0.000,nan,0,0
24,Blooming Grove Town,"12,001",8,0.000,nan,1,0
25,Bolivar Village,"1,022",1,0.000,nan,0,0
26,Bolton Town,"2,325",2,0.000,nan,0,0
27,Boonville Village,"2,054",1,0.000,nan,0,0
28,Brant Town,"2,065",4,0.000,nan,0,1
29,Brewster,"2,358",0,0.000,nan,0,0
...,...,...,...,...,...,...,...
321,Utica,"61,686",361,7.000,nan,27,102
322,Vestal Town,"27,980",16,0.000,nan,2,6
323,Walden Village,"6,887",18,1.000,nan,2,1
324,Wallkill Town,"27,940",40,0.000,nan,3,16
325,Walton Village,"3,012",6,0.000,nan,1,0
326,Warsaw Village,"3,453",6,0.000,nan,1,0
327,Washingtonville Village,"5,828",2,0.000,nan,0,1
328,Waterford Town and Village,"8,392",4,0.000,nan,0,0
329,Waterloo Village,"5,175",11,0.000,nan,0,3
330,Watertown,"28,179",109,0.000,nan,12,16
331,Watervliet,"10,245",26,1.000,nan,3,11
332,Watkins Glen Village,"1,862",6,0.000,nan,0,0
333,Waverly Village,"4,337",5,0.000,nan,0,1
334,Webster Town and Village,"43,777",21,0.000,nan,2,3
335,Weedsport Village,"1,797",0,0.000,nan,0,0
336,Wellsville Village,"4,574",11,0.000,nan,1,0
337,Westhampton Beach Village,"1,732",2,0.000,nan,0,0
338,West Seneca Town,"44,821",35,1.000,nan,1,9
339,Whitehall Village,"2,604",6,0.000,nan,0,0
340,White Plains,"57,559",78,1.000,nan,3,28
341,Whitesboro Village,"3,733",4,0.000,nan,0,0
342,Whitestown Town,"9,141",0,0.000,nan,0,0
343,Woodbury Town,"10,685",3,0.000,nan,0,2
344,Woodridge Village,829,7,0.000,nan,0,0
345,Woodstock Town,"5,931",2,0.000,nan,0,0
346,Yonkers,"199,134","1,036",6.000,nan,25,390
347,Yorktown Town,"36,643",15,0.000,nan,0,2
348,1 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN
349,2 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN
350,3 The FBI does not publish arson data unless i...,NaN,NaN,nan,nan,NaN,NaN

In [11]:
# And now, the murder and rape columns are back and identical
mv_data

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery
0,Adams Village,"1,861",0,0.000,nan,0,0
1,Addison Town and Village,"2,577",3,0.000,nan,0,0
2,Akron Village,"2,846",3,0.000,nan,0,0
3,Albany,"97,956",791,8.000,nan,30,227
4,Albion Village,"6,388",23,0.000,nan,3,4
5,Alfred Village,"4,089",5,0.000,nan,0,3
6,Allegany Village,"1,781",3,0.000,nan,0,0
7,Amherst Town,"118,296",107,1.000,nan,7,31
8,Amityville Village,"9,519",9,0.000,nan,2,4
9,Amsterdam,"18,182",30,0.000,nan,0,12
10,Arcade Village,"2,053",0,0.000,nan,0,0
11,Ardsley Village,"4,523",5,0.000,nan,0,3
12,Asharoken Village,658,0,0.000,nan,0,0
13,Attica Village,"2,522",2,0.000,nan,0,0
14,Auburn,"27,270",96,1.000,nan,20,22
15,Avon Village,"3,333",1,0.000,nan,0,1
16,Baldwinsville Village,"7,473",5,0.000,nan,0,1
17,Ballston Spa Village,"5,418",8,0.000,nan,0,3
18,Batavia,"15,374",57,0.000,nan,7,13
19,Bath Village,"5,733",15,0.000,nan,1,3
20,Bedford Town,"17,627",5,0.000,nan,0,1
21,Bethlehem Town,"34,243",13,0.000,nan,0,3
22,Binghamton,"46,304",284,3.000,nan,19,101
23,Black River,"1,410",0,0.000,nan,0,0
24,Blooming Grove Town,"12,001",8,0.000,nan,1,0
25,Bolivar Village,"1,022",1,0.000,nan,0,0
26,Bolton Town,"2,325",2,0.000,nan,0,0
27,Boonville Village,"2,054",1,0.000,nan,0,0
28,Brant Town,"2,065",4,0.000,nan,0,1
29,Brewster,"2,358",0,0.000,nan,0,0
...,...,...,...,...,...,...,...
321,Utica,"61,686",361,7.000,nan,27,102
322,Vestal Town,"27,980",16,0.000,nan,2,6
323,Walden Village,"6,887",18,1.000,nan,2,1
324,Wallkill Town,"27,940",40,0.000,nan,3,16
325,Walton Village,"3,012",6,0.000,nan,1,0
326,Warsaw Village,"3,453",6,0.000,nan,1,0
327,Washingtonville Village,"5,828",2,0.000,nan,0,1
328,Waterford Town and Village,"8,392",4,0.000,nan,0,0
329,Waterloo Village,"5,175",11,0.000,nan,0,3
330,Watertown,"28,179",109,0.000,nan,12,16
331,Watervliet,"10,245",26,1.000,nan,3,11
332,Watkins Glen Village,"1,862",6,0.000,nan,0,0
333,Waverly Village,"4,337",5,0.000,nan,0,1
334,Webster Town and Village,"43,777",21,0.000,nan,2,3
335,Weedsport Village,"1,797",0,0.000,nan,0,0
336,Wellsville Village,"4,574",11,0.000,nan,1,0
337,Westhampton Beach Village,"1,732",2,0.000,nan,0,0
338,West Seneca Town,"44,821",35,1.000,nan,1,9
339,Whitehall Village,"2,604",6,0.000,nan,0,0
340,White Plains,"57,559",78,1.000,nan,3,28
341,Whitesboro Village,"3,733",4,0.000,nan,0,0
342,Whitestown Town,"9,141",0,0.000,nan,0,0
343,Woodbury Town,"10,685",3,0.000,nan,0,2
344,Woodridge Village,829,7,0.000,nan,0,0
345,Woodstock Town,"5,931",2,0.000,nan,0,0
346,Yonkers,"199,134","1,036",6.000,nan,25,390
347,Yorktown Town,"36,643",15,0.000,nan,0,2
348,1 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN
349,2 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN
350,3 The FBI does not publish arson data unless i...,NaN,NaN,nan,nan,NaN,NaN

In [12]:
# a = '1,000,000'
# int(a.replace(',', ''))
# (int(mv_data['Population'][0].replace(',','')))**2
square_it = (int(mv_data['Population'][5].replace(',','')))**2
print(type(square_it))
print("The sixth element: ", square_it)

<class 'int'>
The sixth element:  16719921

In [13]:
# Clean up null values
mv_data[mv_data.isnull().any(axis=1)]

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery
0,Adams Village,"1,861",0,0.000,nan,0,0
1,Addison Town and Village,"2,577",3,0.000,nan,0,0
2,Akron Village,"2,846",3,0.000,nan,0,0
3,Albany,"97,956",791,8.000,nan,30,227
4,Albion Village,"6,388",23,0.000,nan,3,4
5,Alfred Village,"4,089",5,0.000,nan,0,3
6,Allegany Village,"1,781",3,0.000,nan,0,0
7,Amherst Town,"118,296",107,1.000,nan,7,31
8,Amityville Village,"9,519",9,0.000,nan,2,4
9,Amsterdam,"18,182",30,0.000,nan,0,12
10,Arcade Village,"2,053",0,0.000,nan,0,0
11,Ardsley Village,"4,523",5,0.000,nan,0,3
12,Asharoken Village,658,0,0.000,nan,0,0
13,Attica Village,"2,522",2,0.000,nan,0,0
14,Auburn,"27,270",96,1.000,nan,20,22
15,Avon Village,"3,333",1,0.000,nan,0,1
16,Baldwinsville Village,"7,473",5,0.000,nan,0,1
17,Ballston Spa Village,"5,418",8,0.000,nan,0,3
18,Batavia,"15,374",57,0.000,nan,7,13
19,Bath Village,"5,733",15,0.000,nan,1,3
20,Bedford Town,"17,627",5,0.000,nan,0,1
21,Bethlehem Town,"34,243",13,0.000,nan,0,3
22,Binghamton,"46,304",284,3.000,nan,19,101
23,Black River,"1,410",0,0.000,nan,0,0
24,Blooming Grove Town,"12,001",8,0.000,nan,1,0
25,Bolivar Village,"1,022",1,0.000,nan,0,0
26,Bolton Town,"2,325",2,0.000,nan,0,0
27,Boonville Village,"2,054",1,0.000,nan,0,0
28,Brant Town,"2,065",4,0.000,nan,0,1
29,Brewster,"2,358",0,0.000,nan,0,0
...,...,...,...,...,...,...,...
321,Utica,"61,686",361,7.000,nan,27,102
322,Vestal Town,"27,980",16,0.000,nan,2,6
323,Walden Village,"6,887",18,1.000,nan,2,1
324,Wallkill Town,"27,940",40,0.000,nan,3,16
325,Walton Village,"3,012",6,0.000,nan,1,0
326,Warsaw Village,"3,453",6,0.000,nan,1,0
327,Washingtonville Village,"5,828",2,0.000,nan,0,1
328,Waterford Town and Village,"8,392",4,0.000,nan,0,0
329,Waterloo Village,"5,175",11,0.000,nan,0,3
330,Watertown,"28,179",109,0.000,nan,12,16
331,Watervliet,"10,245",26,1.000,nan,3,11
332,Watkins Glen Village,"1,862",6,0.000,nan,0,0
333,Waverly Village,"4,337",5,0.000,nan,0,1
334,Webster Town and Village,"43,777",21,0.000,nan,2,3
335,Weedsport Village,"1,797",0,0.000,nan,0,0
336,Wellsville Village,"4,574",11,0.000,nan,1,0
337,Westhampton Beach Village,"1,732",2,0.000,nan,0,0
338,West Seneca Town,"44,821",35,1.000,nan,1,9
339,Whitehall Village,"2,604",6,0.000,nan,0,0
340,White Plains,"57,559",78,1.000,nan,3,28
341,Whitesboro Village,"3,733",4,0.000,nan,0,0
342,Whitestown Town,"9,141",0,0.000,nan,0,0
343,Woodbury Town,"10,685",3,0.000,nan,0,2
344,Woodridge Village,829,7,0.000,nan,0,0
345,Woodstock Town,"5,931",2,0.000,nan,0,0
346,Yonkers,"199,134","1,036",6.000,nan,25,390
347,Yorktown Town,"36,643",15,0.000,nan,0,2
348,1 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN
349,2 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN
350,3 The FBI does not publish arson data unless i...,NaN,NaN,nan,nan,NaN,NaN

In [14]:
# Drops the Rape1 column, full of NaN values
mv_data.dropna(axis=1, how='all')

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (legacy definition)2,Robbery
0,Adams Village,"1,861",0,0.000,0,0
1,Addison Town and Village,"2,577",3,0.000,0,0
2,Akron Village,"2,846",3,0.000,0,0
3,Albany,"97,956",791,8.000,30,227
4,Albion Village,"6,388",23,0.000,3,4
5,Alfred Village,"4,089",5,0.000,0,3
6,Allegany Village,"1,781",3,0.000,0,0
7,Amherst Town,"118,296",107,1.000,7,31
8,Amityville Village,"9,519",9,0.000,2,4
9,Amsterdam,"18,182",30,0.000,0,12
10,Arcade Village,"2,053",0,0.000,0,0
11,Ardsley Village,"4,523",5,0.000,0,3
12,Asharoken Village,658,0,0.000,0,0
13,Attica Village,"2,522",2,0.000,0,0
14,Auburn,"27,270",96,1.000,20,22
15,Avon Village,"3,333",1,0.000,0,1
16,Baldwinsville Village,"7,473",5,0.000,0,1
17,Ballston Spa Village,"5,418",8,0.000,0,3
18,Batavia,"15,374",57,0.000,7,13
19,Bath Village,"5,733",15,0.000,1,3
20,Bedford Town,"17,627",5,0.000,0,1
21,Bethlehem Town,"34,243",13,0.000,0,3
22,Binghamton,"46,304",284,3.000,19,101
23,Black River,"1,410",0,0.000,0,0
24,Blooming Grove Town,"12,001",8,0.000,1,0
25,Bolivar Village,"1,022",1,0.000,0,0
26,Bolton Town,"2,325",2,0.000,0,0
27,Boonville Village,"2,054",1,0.000,0,0
28,Brant Town,"2,065",4,0.000,0,1
29,Brewster,"2,358",0,0.000,0,0
...,...,...,...,...,...,...
321,Utica,"61,686",361,7.000,27,102
322,Vestal Town,"27,980",16,0.000,2,6
323,Walden Village,"6,887",18,1.000,2,1
324,Wallkill Town,"27,940",40,0.000,3,16
325,Walton Village,"3,012",6,0.000,1,0
326,Warsaw Village,"3,453",6,0.000,1,0
327,Washingtonville Village,"5,828",2,0.000,0,1
328,Waterford Town and Village,"8,392",4,0.000,0,0
329,Waterloo Village,"5,175",11,0.000,0,3
330,Watertown,"28,179",109,0.000,12,16
331,Watervliet,"10,245",26,1.000,3,11
332,Watkins Glen Village,"1,862",6,0.000,0,0
333,Waverly Village,"4,337",5,0.000,0,1
334,Webster Town and Village,"43,777",21,0.000,2,3
335,Weedsport Village,"1,797",0,0.000,0,0
336,Wellsville Village,"4,574",11,0.000,1,0
337,Westhampton Beach Village,"1,732",2,0.000,0,0
338,West Seneca Town,"44,821",35,1.000,1,9
339,Whitehall Village,"2,604",6,0.000,0,0
340,White Plains,"57,559",78,1.000,3,28
341,Whitesboro Village,"3,733",4,0.000,0,0
342,Whitestown Town,"9,141",0,0.000,0,0
343,Woodbury Town,"10,685",3,0.000,0,2
344,Woodridge Village,829,7,0.000,0,0
345,Woodstock Town,"5,931",2,0.000,0,0
346,Yonkers,"199,134","1,036",6.000,25,390
347,Yorktown Town,"36,643",15,0.000,0,2
348,1 The figures shown in this column for the off...,NaN,NaN,nan,NaN,NaN
349,2 The figures shown in this column for the off...,NaN,NaN,nan,NaN,NaN
350,3 The FBI does not publish arson data unless i...,NaN,NaN,nan,NaN,NaN

In [15]:
# Get rid of any row w/ more than two NaN values
mv_data.dropna(thresh=2)

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery
0,Adams Village,"1,861",0,0.000,nan,0,0
1,Addison Town and Village,"2,577",3,0.000,nan,0,0
2,Akron Village,"2,846",3,0.000,nan,0,0
3,Albany,"97,956",791,8.000,nan,30,227
4,Albion Village,"6,388",23,0.000,nan,3,4
5,Alfred Village,"4,089",5,0.000,nan,0,3
6,Allegany Village,"1,781",3,0.000,nan,0,0
7,Amherst Town,"118,296",107,1.000,nan,7,31
8,Amityville Village,"9,519",9,0.000,nan,2,4
9,Amsterdam,"18,182",30,0.000,nan,0,12
10,Arcade Village,"2,053",0,0.000,nan,0,0
11,Ardsley Village,"4,523",5,0.000,nan,0,3
12,Asharoken Village,658,0,0.000,nan,0,0
13,Attica Village,"2,522",2,0.000,nan,0,0
14,Auburn,"27,270",96,1.000,nan,20,22
15,Avon Village,"3,333",1,0.000,nan,0,1
16,Baldwinsville Village,"7,473",5,0.000,nan,0,1
17,Ballston Spa Village,"5,418",8,0.000,nan,0,3
18,Batavia,"15,374",57,0.000,nan,7,13
19,Bath Village,"5,733",15,0.000,nan,1,3
20,Bedford Town,"17,627",5,0.000,nan,0,1
21,Bethlehem Town,"34,243",13,0.000,nan,0,3
22,Binghamton,"46,304",284,3.000,nan,19,101
23,Black River,"1,410",0,0.000,nan,0,0
24,Blooming Grove Town,"12,001",8,0.000,nan,1,0
25,Bolivar Village,"1,022",1,0.000,nan,0,0
26,Bolton Town,"2,325",2,0.000,nan,0,0
27,Boonville Village,"2,054",1,0.000,nan,0,0
28,Brant Town,"2,065",4,0.000,nan,0,1
29,Brewster,"2,358",0,0.000,nan,0,0
...,...,...,...,...,...,...,...
318,Tupper Lake Village,"3,642",3,0.000,nan,0,0
319,Tuxedo Park Village,615,0,0.000,nan,0,0
320,Ulster Town,"12,195",14,0.000,nan,3,2
321,Utica,"61,686",361,7.000,nan,27,102
322,Vestal Town,"27,980",16,0.000,nan,2,6
323,Walden Village,"6,887",18,1.000,nan,2,1
324,Wallkill Town,"27,940",40,0.000,nan,3,16
325,Walton Village,"3,012",6,0.000,nan,1,0
326,Warsaw Village,"3,453",6,0.000,nan,1,0
327,Washingtonville Village,"5,828",2,0.000,nan,0,1
328,Waterford Town and Village,"8,392",4,0.000,nan,0,0
329,Waterloo Village,"5,175",11,0.000,nan,0,3
330,Watertown,"28,179",109,0.000,nan,12,16
331,Watervliet,"10,245",26,1.000,nan,3,11
332,Watkins Glen Village,"1,862",6,0.000,nan,0,0
333,Waverly Village,"4,337",5,0.000,nan,0,1
334,Webster Town and Village,"43,777",21,0.000,nan,2,3
335,Weedsport Village,"1,797",0,0.000,nan,0,0
336,Wellsville Village,"4,574",11,0.000,nan,1,0
337,Westhampton Beach Village,"1,732",2,0.000,nan,0,0
338,West Seneca Town,"44,821",35,1.000,nan,1,9
339,Whitehall Village,"2,604",6,0.000,nan,0,0
340,White Plains,"57,559",78,1.000,nan,3,28
341,Whitesboro Village,"3,733",4,0.000,nan,0,0
342,Whitestown Town,"9,141",0,0.000,nan,0,0
343,Woodbury Town,"10,685",3,0.000,nan,0,2
344,Woodridge Village,829,7,0.000,nan,0,0
345,Woodstock Town,"5,931",2,0.000,nan,0,0
346,Yonkers,"199,134","1,036",6.000,nan,25,390
347,Yorktown Town,"36,643",15,0.000,nan,0,2

In [16]:
pull_commas = [pd.to_numeric(mv_data['Population'].replace(',',''),errors='ignore') for pop in mv_data['Population']]

In [17]:
pull_commas.count

In [18]:
mv_data['Murder_Cat'] = np.where((mv_data['Murder and\rnonnegligent\rmanslaughter'] > 0),1,0)

In [19]:
# Convert mv_data['Robbery'] to number, then categorical
mv_data['Robbery_Num'] = mv_data['Robbery_Num'] = pd.to_numeric(mv_data['Robbery'].replace(',',''),errors='ignore')

In [20]:
mv_data['Robbery_Cat'] = np.where((mv_data['Murder and\rnonnegligent\rmanslaughter'] > 0),1,0)

In [21]:
# Still need to convert below to a number from string
square_it = (int(mv_data['Population'][5].replace(',','')))**2
print(square_it)

16719921

In [22]:
mv_data['Population_Num'] = pd.to_numeric(mv_data['Population'].replace(',',''),errors='coerce')

In [23]:
# pd.Series(['foo', 'fuz', np.nan]).str.replace('f', repr)
mv_data['Population_Num'] = pd.to_numeric(mv_data['Population'].str.replace(',',''))

In [24]:
mv_data['Pop_Squared']=mv_data['Population_Num']**2

In [25]:
mv_data

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Murder_Cat,Robbery_Num,Robbery_Cat,Population_Num,Pop_Squared
0,Adams Village,"1,861",0,0.000,nan,0,0,0,0,0,1861.000,3463321.000
1,Addison Town and Village,"2,577",3,0.000,nan,0,0,0,0,0,2577.000,6640929.000
2,Akron Village,"2,846",3,0.000,nan,0,0,0,0,0,2846.000,8099716.000
3,Albany,"97,956",791,8.000,nan,30,227,1,227,1,97956.000,9595377936.000
4,Albion Village,"6,388",23,0.000,nan,3,4,0,4,0,6388.000,40806544.000
5,Alfred Village,"4,089",5,0.000,nan,0,3,0,3,0,4089.000,16719921.000
6,Allegany Village,"1,781",3,0.000,nan,0,0,0,0,0,1781.000,3171961.000
7,Amherst Town,"118,296",107,1.000,nan,7,31,1,31,1,118296.000,13993943616.000
8,Amityville Village,"9,519",9,0.000,nan,2,4,0,4,0,9519.000,90611361.000
9,Amsterdam,"18,182",30,0.000,nan,0,12,0,12,0,18182.000,330585124.000
10,Arcade Village,"2,053",0,0.000,nan,0,0,0,0,0,2053.000,4214809.000
11,Ardsley Village,"4,523",5,0.000,nan,0,3,0,3,0,4523.000,20457529.000
12,Asharoken Village,658,0,0.000,nan,0,0,0,0,0,658.000,432964.000
13,Attica Village,"2,522",2,0.000,nan,0,0,0,0,0,2522.000,6360484.000
14,Auburn,"27,270",96,1.000,nan,20,22,1,22,1,27270.000,743652900.000
15,Avon Village,"3,333",1,0.000,nan,0,1,0,1,0,3333.000,11108889.000
16,Baldwinsville Village,"7,473",5,0.000,nan,0,1,0,1,0,7473.000,55845729.000
17,Ballston Spa Village,"5,418",8,0.000,nan,0,3,0,3,0,5418.000,29354724.000
18,Batavia,"15,374",57,0.000,nan,7,13,0,13,0,15374.000,236359876.000
19,Bath Village,"5,733",15,0.000,nan,1,3,0,3,0,5733.000,32867289.000
20,Bedford Town,"17,627",5,0.000,nan,0,1,0,1,0,17627.000,310711129.000
21,Bethlehem Town,"34,243",13,0.000,nan,0,3,0,3,0,34243.000,1172583049.000
22,Binghamton,"46,304",284,3.000,nan,19,101,1,101,1,46304.000,2144060416.000
23,Black River,"1,410",0,0.000,nan,0,0,0,0,0,1410.000,1988100.000
24,Blooming Grove Town,"12,001",8,0.000,nan,1,0,0,0,0,12001.000,144024001.000
25,Bolivar Village,"1,022",1,0.000,nan,0,0,0,0,0,1022.000,1044484.000
26,Bolton Town,"2,325",2,0.000,nan,0,0,0,0,0,2325.000,5405625.000
27,Boonville Village,"2,054",1,0.000,nan,0,0,0,0,0,2054.000,4218916.000
28,Brant Town,"2,065",4,0.000,nan,0,1,0,1,0,2065.000,4264225.000
29,Brewster,"2,358",0,0.000,nan,0,0,0,0,0,2358.000,5560164.000
...,...,...,...,...,...,...,...,...,...,...,...,...
321,Utica,"61,686",361,7.000,nan,27,102,1,102,1,61686.000,3805162596.000
322,Vestal Town,"27,980",16,0.000,nan,2,6,0,6,0,27980.000,782880400.000
323,Walden Village,"6,887",18,1.000,nan,2,1,1,1,1,6887.000,47430769.000
324,Wallkill Town,"27,940",40,0.000,nan,3,16,0,16,0,27940.000,780643600.000
325,Walton Village,"3,012",6,0.000,nan,1,0,0,0,0,3012.000,9072144.000
326,Warsaw Village,"3,453",6,0.000,nan,1,0,0,0,0,3453.000,11923209.000
327,Washingtonville Village,"5,828",2,0.000,nan,0,1,0,1,0,5828.000,33965584.000
328,Waterford Town and Village,"8,392",4,0.000,nan,0,0,0,0,0,8392.000,70425664.000
329,Waterloo Village,"5,175",11,0.000,nan,0,3,0,3,0,5175.000,26780625.000
330,Watertown,"28,179",109,0.000,nan,12,16,0,16,0,28179.000,794056041.000
331,Watervliet,"10,245",26,1.000,nan,3,11,1,11,1,10245.000,104960025.000
332,Watkins Glen Village,"1,862",6,0.000,nan,0,0,0,0,0,1862.000,3467044.000
333,Waverly Village,"4,337",5,0.000,nan,0,1,0,1,0,4337.000,18809569.000
334,Webster Town and Village,"43,777",21,0.000,nan,2,3,0,3,0,43777.000,1916425729.000
335,Weedsport Village,"1,797",0,0.000,nan,0,0,0,0,0,1797.000,3229209.000
336,Wellsville Village,"4,574",11,0.000,nan,1,0,0,0,0,4574.000,20921476.000
337,Westhampton Beach Village,"1,732",2,0.000,nan,0,0,0,0,0,1732.000,2999824.000
338,West Seneca Town,"44,821",35,1.000,nan,1,9,1,9,1,44821.000,2008922041.000
339,Whitehall Village,"2,604",6,0.000,nan,0,0,0,0,0,2604.000,6780816.000
340,White Plains,"57,559",78,1.000,nan,3,28,1,28,1,57559.000,3313038481.000
341,Whitesboro Village,"3,733",4,0.000,nan,0,0,0,0,0,3733.000,13935289.000
342,Whitestown Town,"9,141",0,0.000,nan,0,0,0,0,0,9141.000,83557881.000
343,Woodbury Town,"10,685",3,0.000,nan,0,2,0,2,0,10685.000,114169225.000
344,Woodridge Village,829,7,0.000,nan,0,0,0,0,0,829.000,687241.000
345,Woodstock Town,"5,931",2,0.000,nan,0,0,0,0,0,5931.000,35176761.000
346,Yonkers,"199,134","1,036",6.000,nan,25,390,1,390,1,199134.000,39654349956.000
347,Yorktown Town,"36,643",15,0.000,nan,0,2,0,2,0,36643.000,1342709449.000
348,1 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN,0,NaN,0,nan,nan
349,2 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN,0,NaN,0,nan,nan
350,3 The FBI does not publish arson data unless i...,NaN,NaN,nan,nan,NaN,NaN,0,NaN,0,nan,nan

In [26]:
mv_data.columns

Index(['City', 'Population', 'Violent\rcrime',
       'Murder and\rnonnegligent\rmanslaughter',
       'Rape\r(revised\rdefinition)1', 'Rape\r(legacy\rdefinition)2',
       'Robbery', 'Murder_Cat', 'Robbery_Num', 'Robbery_Cat', 'Population_Num',
       'Pop_Squared'],
      dtype='object')

In [27]:
mv_finalversion = mv_data[:-3]

In [28]:
mv_finalversion

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Murder_Cat,Robbery_Num,Robbery_Cat,Population_Num,Pop_Squared
0,Adams Village,"1,861",0,0.000,nan,0,0,0,0,0,1861.000,3463321.000
1,Addison Town and Village,"2,577",3,0.000,nan,0,0,0,0,0,2577.000,6640929.000
2,Akron Village,"2,846",3,0.000,nan,0,0,0,0,0,2846.000,8099716.000
3,Albany,"97,956",791,8.000,nan,30,227,1,227,1,97956.000,9595377936.000
4,Albion Village,"6,388",23,0.000,nan,3,4,0,4,0,6388.000,40806544.000
5,Alfred Village,"4,089",5,0.000,nan,0,3,0,3,0,4089.000,16719921.000
6,Allegany Village,"1,781",3,0.000,nan,0,0,0,0,0,1781.000,3171961.000
7,Amherst Town,"118,296",107,1.000,nan,7,31,1,31,1,118296.000,13993943616.000
8,Amityville Village,"9,519",9,0.000,nan,2,4,0,4,0,9519.000,90611361.000
9,Amsterdam,"18,182",30,0.000,nan,0,12,0,12,0,18182.000,330585124.000
10,Arcade Village,"2,053",0,0.000,nan,0,0,0,0,0,2053.000,4214809.000
11,Ardsley Village,"4,523",5,0.000,nan,0,3,0,3,0,4523.000,20457529.000
12,Asharoken Village,658,0,0.000,nan,0,0,0,0,0,658.000,432964.000
13,Attica Village,"2,522",2,0.000,nan,0,0,0,0,0,2522.000,6360484.000
14,Auburn,"27,270",96,1.000,nan,20,22,1,22,1,27270.000,743652900.000
15,Avon Village,"3,333",1,0.000,nan,0,1,0,1,0,3333.000,11108889.000
16,Baldwinsville Village,"7,473",5,0.000,nan,0,1,0,1,0,7473.000,55845729.000
17,Ballston Spa Village,"5,418",8,0.000,nan,0,3,0,3,0,5418.000,29354724.000
18,Batavia,"15,374",57,0.000,nan,7,13,0,13,0,15374.000,236359876.000
19,Bath Village,"5,733",15,0.000,nan,1,3,0,3,0,5733.000,32867289.000
20,Bedford Town,"17,627",5,0.000,nan,0,1,0,1,0,17627.000,310711129.000
21,Bethlehem Town,"34,243",13,0.000,nan,0,3,0,3,0,34243.000,1172583049.000
22,Binghamton,"46,304",284,3.000,nan,19,101,1,101,1,46304.000,2144060416.000
23,Black River,"1,410",0,0.000,nan,0,0,0,0,0,1410.000,1988100.000
24,Blooming Grove Town,"12,001",8,0.000,nan,1,0,0,0,0,12001.000,144024001.000
25,Bolivar Village,"1,022",1,0.000,nan,0,0,0,0,0,1022.000,1044484.000
26,Bolton Town,"2,325",2,0.000,nan,0,0,0,0,0,2325.000,5405625.000
27,Boonville Village,"2,054",1,0.000,nan,0,0,0,0,0,2054.000,4218916.000
28,Brant Town,"2,065",4,0.000,nan,0,1,0,1,0,2065.000,4264225.000
29,Brewster,"2,358",0,0.000,nan,0,0,0,0,0,2358.000,5560164.000
...,...,...,...,...,...,...,...,...,...,...,...,...
318,Tupper Lake Village,"3,642",3,0.000,nan,0,0,0,0,0,3642.000,13264164.000
319,Tuxedo Park Village,615,0,0.000,nan,0,0,0,0,0,615.000,378225.000
320,Ulster Town,"12,195",14,0.000,nan,3,2,0,2,0,12195.000,148718025.000
321,Utica,"61,686",361,7.000,nan,27,102,1,102,1,61686.000,3805162596.000
322,Vestal Town,"27,980",16,0.000,nan,2,6,0,6,0,27980.000,782880400.000
323,Walden Village,"6,887",18,1.000,nan,2,1,1,1,1,6887.000,47430769.000
324,Wallkill Town,"27,940",40,0.000,nan,3,16,0,16,0,27940.000,780643600.000
325,Walton Village,"3,012",6,0.000,nan,1,0,0,0,0,3012.000,9072144.000
326,Warsaw Village,"3,453",6,0.000,nan,1,0,0,0,0,3453.000,11923209.000
327,Washingtonville Village,"5,828",2,0.000,nan,0,1,0,1,0,5828.000,33965584.000
328,Waterford Town and Village,"8,392",4,0.000,nan,0,0,0,0,0,8392.000,70425664.000
329,Waterloo Village,"5,175",11,0.000,nan,0,3,0,3,0,5175.000,26780625.000
330,Watertown,"28,179",109,0.000,nan,12,16,0,16,0,28179.000,794056041.000
331,Watervliet,"10,245",26,1.000,nan,3,11,1,11,1,10245.000,104960025.000
332,Watkins Glen Village,"1,862",6,0.000,nan,0,0,0,0,0,1862.000,3467044.000
333,Waverly Village,"4,337",5,0.000,nan,0,1,0,1,0,4337.000,18809569.000
334,Webster Town and Village,"43,777",21,0.000,nan,2,3,0,3,0,43777.000,1916425729.000
335,Weedsport Village,"1,797",0,0.000,nan,0,0,0,0,0,1797.000,3229209.000
336,Wellsville Village,"4,574",11,0.000,nan,1,0,0,0,0,4574.000,20921476.000
337,Westhampton Beach Village,"1,732",2,0.000,nan,0,0,0,0,0,1732.000,2999824.000
338,West Seneca Town,"44,821",35,1.000,nan,1,9,1,9,1,44821.000,2008922041.000
339,Whitehall Village,"2,604",6,0.000,nan,0,0,0,0,0,2604.000,6780816.000
340,White Plains,"57,559",78,1.000,nan,3,28,1,28,1,57559.000,3313038481.000
341,Whitesboro Village,"3,733",4,0.000,nan,0,0,0,0,0,3733.000,13935289.000
342,Whitestown Town,"9,141",0,0.000,nan,0,0,0,0,0,9141.000,83557881.000
343,Woodbury Town,"10,685",3,0.000,nan,0,2,0,2,0,10685.000,114169225.000
344,Woodridge Village,829,7,0.000,nan,0,0,0,0,0,829.000,687241.000
345,Woodstock Town,"5,931",2,0.000,nan,0,0,0,0,0,5931.000,35176761.000
346,Yonkers,"199,134","1,036",6.000,nan,25,390,1,390,1,199134.000,39654349956.000
347,Yorktown Town,"36,643",15,0.000,nan,0,2,0,2,0,36643.000,1342709449.000